<p>
  hoc-vien works!
</p>
<div *ngIf="isShow">
  <button (click)="isShowAdd=!isShowAdd; isShow=!isShow">Them hoc vien</button>
  <button (click)="isShowEdit=!isShowEdit; isShow=!isShow">Sua hoc vien</button>
  <button (click)="isShowDel=!isShowDel; isShow=!isShow">Xoa hoc vien</button>
</div>
<form (ngSubmit)="addHV(HocVienForm)" #HocVienForm="ngForm" *ngIf="isShowAdd">
  <input placeholder="ten hoc vien" ngModel #txtTen="ngModel" name="ten" required />
  <span class="error" *ngIf="txtTen.touched && txtTen?.errors?.required">Yeu cau nhap!</span><br /><br />
  <input placeholder="gioi tinh" ngModel #txtGioiTinh="ngModel" name="gioiTinh" required />
  <span class="error" *ngIf="txtGioiTinh.touched && txtGioiTinh?.errors?.required">Yeu cau nhap!</span><br /><br />
  <div ngModelGroup="soThich">
    <span>So thich</span>
    <label> Choi<input type="checkbox" [ngModel]="false" name="choi" /></label>
    <label> Hoc<input type="checkbox" [ngModel]="false" name="hoc" /></label>
  </div>
  <input [disabled]="HocVienForm.invalid" type="submit" value="Them" />
</form>
<h1>Thong tin hoc vien</h1>
<select [(ngModel)]="filterStatus">
  <option value="tat_ca">Tat ca</option>
  <option value="nam">Nam</option>
  <option value="nu">Nu</option>
</select>
<button (click)="isShowDel=!isShowDel; isShow = !isShow" *ngIf="isShowDel">Xoa xong</button>
<button (click)="isShowEdit=!isShowEdit; isShow = !isShow" *ngIf="isShowEdit">Sua xong</button>
<div *ngFor="let objHocVien of arHocVien" id="hocvien">
  <div *ngIf="getShowStatus(objHocVien.gioiTinh)">
    <h4>Ma hoc vien: {{ objHocVien.id }}</h4>
    <h3>Ho ten: <span *ngIf="!isShowEdit">{{ objHocVien.ten }}</span>
      <input *ngIf="isShowEdit" placeholder="{{ objHocVien.ten }}" [(ngModel)]="newName[objHocVien.id]" />
    </h3>
    <p>Gioi tinh: <span *ngIf="!isShowEdit">{{ objHocVien.gioiTinh?"Nam":"Nu" }}</span>
      <input *ngIf="isShowEdit" placeholder="{{ objHocVien.gioiTinh?'Nam':'Nu' }}" [(ngModel)]="newGender[objHocVien.id]" />
    </p>
    <div>
      <p>So thich:
        <span *ngIf="!isShowEdit">
          <label>Choi<input type="checkbox" [ngModel]="objHocVien.soThich.choi" onclick="return false;" /></label>
          <label>Hoc<input type="checkbox" [ngModel]="objHocVien.soThich.hoc" onclick="return false;" /></label>
        </span>
        <span *ngIf="isShowEdit">
          <label>Choi<input type="checkbox" [ngModel]="objHocVien.soThich.choi" [(ngModel)]="soThichChoi[objHocVien.id]" /></label>
          <label>Hoc<input type="checkbox" [ngModel]="objHocVien.soThich.hoc" [(ngModel)]="soThichHoc[objHocVien.id]" /></label>
        </span>
      </p>
    </div>
    <button (click)="deleteHV(objHocVien.id)" *ngIf="isShowDel">Xoa</button>
    <button (click)="editHV(objHocVien.id)" *ngIf="isShowEdit">Sua</button>
  </div>
</div>